.popup__form {
  width: 358px;
  margin: auto;
  display: grid;
  gap: 21px;
  padding-left: 1px;
}

@media screen and (max-width: 600px) {
  .popup__form {
    width: 238px;
    gap: 21px;
    padding: 0;
  }
}
