.profile__add {
  aspect-ratio: 3 / 1;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: url(../../../images/add_icon.svg) center / 22px no-repeat black;
  margin: auto 0 auto auto;
}
