.profile__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 850px) {
  .profile__description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 503px) {
  .profile__description {
    text-align: center;
  }
}
