.profile__avatar {
  aspect-ratio: 1 / 1;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 776px) {
  .profile__avatar {
    margin-left: auto;
  }
}

@media screen and (max-width: 503px) {
  .profile__avatar {
    margin: auto;
  }
}

@media screen and (max-width: 394px) {
  .profile__avatar {
    margin-bottom: 20px;
  }
}
